:root {
	font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
	font-display: optional;
	font-size: 16px;
}

html {
	background-color: var(--figma-color-bg);
	color: var(--figma-color-text);
}

body {
	font-size: 11px;
}

* {
	box-sizing: border-box;
}

input {
	border: none;
	background-color: transparent;
	font-size: inherit;
}

button {
	border: none;
	background: transparent;
	appearance: none;
	font-size: inherit;
	color: inherit;
}

i18n-text {
	display: contents;
}

:root {
	--radius-full: 9999px;
	--radius-large: 0.8125rem;
	--radius-medium: 0.3125rem;
	--radius-none: 0;
	--radius-small: 0.125rem;
	--spacer-0: 0;
	--spacer-1: 0.25rem;
	--spacer-2: 0.5rem;
	--spacer-3: 1rem;
	--spacer-4: 1.5rem;
	--spacer-5: 2rem;
	--spacer-6: 2.5rem;
}
