/* body {
	margin: 0;
	padding: 0;
	color: var(--figma-color-text);
	font-family: 'Inter, system-ui, Helvetica, Arial, sans-serif';
} */

#PluginWindow {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
