:root {
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  font-display: optional;
  font-size: 68.75%; /* 11/16 */
}

body {
  background-color: var(--figma-color-bg);
  color: var(--figma-color-text);
}
