.green {
	color: #2ECC40;
}
.red {
	color: #FF4136;
}
:where(html) {
	--font-size: 16px;
	--font-size: 18px;
	--font-size: 21px;
	--font-size: 23px;
	--font-size: 26px;
	--font-size: 29px;
	--font-size: 33px;
	--font-size: 37px;
	--font-size: 42px;
	--font-size: 47px;
	--font-size: 52px;
}