:where(html) {
	--font-size-00: 0.79rem;
	--font-size-0: 0.89rem;
	--font-size-1: 1rem;
	--font-size-2: 1.13rem;
	--font-size-3: 1.27rem;
	--font-size-4: 1.42rem;
	--font-size-5: 1.6rem;
	--font-size-6: 1.8rem;
	--font-size-7: 2.03rem;
	--font-size-8: 2.28rem;
	--font-size-9: 2.57rem;
	--font-size-10: 2.89rem;
}
:where(html) {
	--size-000: 0px;
	--size-100: 11px;
	--size-200: 16px;
	--size-300: 24px;
	--size-400: 35px;
	--size-500: 53px;
	--size-600: 79px;
	--size-700: 118px;
	--size-800: 177px;
}
:where(html) {
	--size-em-00: 0.79px;
	--size-em-0: 0.89px;
	--size-em-1: 1px;
	--size-em-2: 1.13px;
	--size-em-3: 1.27px;
	--size-em-4: 1.42px;
	--size-em-5: 1.6px;
	--size-em-6: 1.8px;
	--size-em-7: 2.03px;
	--size-em-8: 2.28px;
	--size-em-9: 2.57px;
	--size-em-10: 2.89px;
	--size-em-11: 3.25px;
	--size-em-12: 3.65px;
	--size-em-13: 4.11px;
	--size-em-14: 4.62px;
	--size-em-15: 5.2px;
}
