@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	border-color: inherit;
}

@layer base {
	:root {
		--color-text: black;
		--color-text-secondary: #656565;
		--color-text-reverse: white;
		--color-text-code: black;
		--color-text-code-comment: #adabab;
		--color-bg: white;
		--color-bg-secondary: #e7e7e7;
		--color-bg-reverse: black;
		--color-bg-hover: #4c4c4c;
		--color-bg-secondary-hover: #e7e7e7;
		--color-border: lightgrey;

		--color-success: #22863a;
		--color-info: #005cc5;
	}

	/* Dark mode colors */
	@media (prefers-color-scheme: dark) {
		:root {
			--color-text: white;
			--color-text-secondary: #b8b8b8;
			--color-text-code: white;
			--color-text-code-comment: #858585;
			--color-text-reverse: black;
			--color-bg: #080808;
			--color-bg-secondary: #292929;
			--color-bg-reverse: white;

			--color-bg-hover: #cbcbcb;
			--color-bg-secondary-hover: #292929;
			--color-border: #4b4b4b;

			--color-success: #7ee787;
			--color-info: #79c0ff;
		}
	}
}

p {
	color: var(--color-text-secondary);
	@apply my-4;
}

ul,
li {
	color: var(--color-text-secondary);
}

code {
	font-size: 0.9em;
}

a {
	/* color: #6410d1; */
}

h1 {
	@apply text-3xl font-medium mb-10;
}

h2 {
	@apply text-2xl;
}

.main-content h3 {
	@apply text-xl font-medium mt-6 mb-4 pb-3;
}

h3,
h5 {
	@apply text-base font-medium mt-6 mb-4;
}

/* svg {
	background-color: red;
} */

code:not(pre code) {
	/* background-color: var(--color-bg-secondary); */
	color: var(--color-text);
	border: 1px solid var(--color-border);
	@apply rounded-sm px-1 py-[1px];
}

/* Syntax highlighting */

.hljs-comment {
	color: var(--color-text-code-comment);
}

html {
	overflow: scroll;
	min-height: 100%;
}
body {
	/* position: relative; */
	min-height: 100vh;
	/* display: flex; */
}

ol {
	list-style: none;
	counter-reset: my-awesome-counter;
}
ol li {
	counter-increment: my-awesome-counter;
	margin-left: 24px;
}
ol li::before {
	content: counter(my-awesome-counter) '. ';
	margin-left: -24px;
	display: inline-block;
	min-width: 24px;
}

.main-content a {
	color: var(--color-text);
}

.main-content a:hover {
	text-decoration: underline;
}

/* Syntax highlight */

@media (prefers-color-scheme: light) {
	.hljs {
		display: block;
		overflow-x: auto;
		padding: 0.5em;

		color: #24292e;
		background: #ffffff;
	}

	.hljs-comment,
	.hljs-punctuation {
		color: #6a737d;
	}

	.hljs-attr,
	.hljs-attribute,
	.hljs-meta,
	.hljs-selector-attr,
	.hljs-selector-class,
	.hljs-selector-id {
		color: #005cc5;
	}

	.hljs-variable,
	.hljs-literal,
	.hljs-number,
	.hljs-doctag {
		color: #e36209;
	}

	.hljs-params {
		color: #24292e;
	}

	.hljs-function {
		color: #6f42c1;
	}

	.hljs-class,
	.hljs-tag,
	.hljs-title,
	.hljs-built_in {
		color: #22863a;
	}

	.hljs-keyword,
	.hljs-type,
	.hljs-builtin-name,
	.hljs-meta-keyword,
	.hljs-template-tag,
	.hljs-template-variable {
		color: #d73a49;
	}

	.hljs-string,
	.hljs-undefined {
		color: #032f62;
	}

	.hljs-regexp {
		color: #032f62;
	}

	.hljs-symbol {
		color: #005cc5;
	}

	.hljs-bullet {
		color: #e36209;
	}

	.hljs-section {
		color: #005cc5;
		font-weight: bold;
	}

	.hljs-quote,
	.hljs-name,
	.hljs-selector-tag,
	.hljs-selector-pseudo {
		color: #22863a;
	}

	.hljs-emphasis {
		color: #e36209;
		font-style: italic;
	}

	.hljs-strong {
		color: #e36209;
		font-weight: bold;
	}

	.hljs-deletion {
		color: #b31d28;
		background-color: #ffeef0;
	}

	.hljs-addition {
		color: #22863a;
		background-color: #f0fff4;
	}

	.hljs-link {
		color: #032f62;
		font-style: underline;
	}
}

@media (prefers-color-scheme: dark) {
	.hljs {
		display: block;
		overflow-x: auto;
		padding: 0.5em;

		color: #c9d1d9;
		background: #0d1117;
	}

	.hljs-comment,
	.hljs-punctuation {
		color: #8b949e;
	}

	.hljs-attr,
	.hljs-attribute,
	.hljs-meta,
	.hljs-selector-attr,
	.hljs-selector-class,
	.hljs-selector-id {
		color: #79c0ff;
	}

	.hljs-variable,
	.hljs-literal,
	.hljs-number,
	.hljs-doctag {
		color: #ffa657;
	}

	.hljs-params {
		color: #c9d1d9;
	}

	.hljs-function {
		color: #d2a8ff;
	}

	.hljs-class,
	.hljs-tag,
	.hljs-title,
	.hljs-built_in {
		color: #7ee787;
	}

	.hljs-keyword,
	.hljs-type,
	.hljs-builtin-name,
	.hljs-meta-keyword,
	.hljs-template-tag,
	.hljs-template-variable {
		color: #ff7b72;
	}

	.hljs-string,
	.hljs-undefined {
		color: #a5d6ff;
	}

	.hljs-regexp {
		color: #a5d6ff;
	}

	.hljs-symbol {
		color: #79c0ff;
	}

	.hljs-bullet {
		color: #ffa657;
	}

	.hljs-section {
		color: #79c0ff;
		font-weight: bold;
	}

	.hljs-quote,
	.hljs-name,
	.hljs-selector-tag,
	.hljs-selector-pseudo {
		color: #7ee787;
	}

	.hljs-emphasis {
		color: #ffa657;
		font-style: italic;
	}

	.hljs-strong {
		color: #ffa657;
		font-weight: bold;
	}

	.hljs-deletion {
		color: #ffa198;
		background-color: #490202;
	}

	.hljs-addition {
		color: #7ee787;
		background-color: #04260f;
	}

	.hljs-link {
		color: #a5d6ff;
		font-style: underline;
	}
}
