@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	border-color: inherit;
}

@layer base {
	:root {
		--color-text: black;
		--color-text-secondary: #656565;
		--color-text-reverse: white;
		--color-text-code: black;
		--color-text-code-comment: #adabab;
		--color-bg: white;
		--color-bg-secondary: #e7e7e7;
		--color-bg-reverse: black;
		--color-bg-hover: #4c4c4c;
		--color-border: lightgrey;
	}

	/* Dark mode colors */
	@media (prefers-color-scheme: dark) {
		:root {
			--color-text: white;
			--color-text-secondary: #b8b8b8;
			--color-text-code: white;
			--color-text-code-comment: #858585;
			--color-text-reverse: black;
			--color-bg: black;
			--color-bg-secondary: #292929;
			--color-bg-reverse: white;

			--color-bg-hover: #cbcbcb;
			--color-border: #4b4b4b;
		}
	}
}

p {
	color: var(--color-text-secondary);
	@apply my-4;
}

ul,
li {
	color: var(--color-text-secondary);
}

code {
	font-size: 0.9em;
}

a {
	/* color: #6410d1; */
}

h1 {
	@apply text-4xl font-medium mb-12;
}

h2 {
	@apply text-2xl;
}

h3 {
	@apply text-xl font-medium mt-6 mb-4;
}

h5 {
	@apply text-base font-medium mt-6 mb-4;
}

/* svg {
	background-color: red;
} */

code:not(pre code) {
	/* background-color: var(--color-bg-secondary); */
	color: var(--color-text);
	border: 1px solid var(--color-border);
	@apply rounded-sm px-1 py-[1px];
}

/* Syntax highlighting */

.hljs-comment {
	color: var(--color-text-code-comment);
}

html {
	overflow: scroll;
	min-height: 100%;
}
body {
	/* position: relative; */
	min-height: 100vh;
	display: flex;
}
