@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	border-color: inherit;
}

/* @media (prefers-color-scheme: light) {
	:root {
		--code-foreground: #24292e;
		--code-background: #ffffff;
		--code-keyword: #d73a49;
		--code-string: #032f62;
		--code-number: #e36209;
		--code-comment: #6a737d;
		--code-function: #6f42c1;
		--code-variable: #e36209;
		--code-operator: #24292e;
	}
} */

@layer base {
	:root {
		--color-text: black;
		--color-text-hsl: 0 0% 0%;

		--color-text-secondary: #656565;
		--color-text-reverse: white;
		--color-text-code: black;
		--color-text-code-comment: #adabab;
		--color-bg: white;
		--color-bg-hsl: 0 0% 100%;
		--color-bg-secondary: #e7e7e7;
		--color-bg-reverse: black;
		--color-bg-hover: #4c4c4c;
		--color-bg-secondary-hover: #e7e7e7;
		--color-border: lightgrey;

		--color-success: #22863a;
		--color-success-hsl: 134 60% 33%;
		--color-info: #005cc5;
		--color-info-hsl: 212 100% 39%;
		--color-warning-hsl: 36 98% 55%;
	}

	/* Dark mode colors */
	@media (prefers-color-scheme: dark) {
		:root {
			--color-text: white;
			--color-text-hsl: 0 0% 100%;
			--color-text-secondary: #b8b8b8;
			--color-text-code: white;
			--color-text-code-comment: #858585;
			--color-text-reverse: black;
			--color-bg: #080808;
			--color-bg-hsl: 0 0% 0%;
			--color-bg-secondary: #292929;
			--color-bg-reverse: white;

			--color-bg-hover: #cbcbcb;
			--color-bg-secondary-hover: #292929;
			--color-border: #4b4b4b;

			--color-success: #7ee787;
			--color-success-hsl: 125 69% 70%;
			--color-info: #79c0ff;

			--color-info-hsl: 208 100% 74%;
			--color-warning-hsl: 36 98% 55%;

			/* Code syntax variables for dark mode */
			--code-foreground: #c9d1d9;
			--code-background: #0d1117;
			--code-comment: #8b949e;
			--code-punctuation: #8b949e;
			--code-keyword: #ff7b72;
			--code-function: #d2a8ff;
			--code-string: #a5d6ff;
			--code-number: #ffa657;
			--code-variable: #ffa657;
			--code-operator: #c9d1d9;
			--code-class: #7ee787;
			--code-tag: #7ee787;
			--code-regex: #a5d6ff;
			--code-symbol: #79c0ff;
			--code-type: #79c0ff;
		}
	}

	/* Light mode code syntax colors */
	@media (prefers-color-scheme: light) {
		:root {
			--code-foreground: #24292e;
			--code-background: #ffffff;
			--code-comment: #6a737d;
			--code-punctuation: #6a737d;
			--code-keyword: #d73a49;
			--code-function: #6f42c1;
			--code-string: #032f62;
			--code-number: #e36209;
			--code-variable: #e36209;
			--code-operator: #24292e;
			--code-class: #22863a;
			--code-tag: #22863a;
			--code-regex: #032f62;
			--code-symbol: #005cc5;
			--code-type: #005cc5;
		}
	}
}

p {
	color: var(--color-text-secondary);
	@apply my-4;
}

ul,
li {
	color: var(--color-text-secondary);
}

code {
	font-size: 0.87em;
}

a {
	/* color: #6410d1; */
}

h1 {
	@apply text-3xl font-medium mb-9;
}

h2 {
	@apply text-2xl;
}

strong {
	font-weight: 600;
}

.main-content h2 {
	@apply mt-8 mb-4;
}

.main-content h3 {
	@apply text-lg font-normal mt-9 mb-5;
}

h3,
h5 {
	@apply text-base font-medium mt-6 mb-4;
}

/* svg {
	background-color: red;
} */

code:not(pre code) {
	/* background-color: var(--color-bg-secondary); */
	color: var(--color-text);
	border: 1px solid var(--color-border);
	@apply rounded-sm px-1 py-[1px];
	background-color: hsl(var(--color-bg-hsl) / 0.8);
}

.Button:hover svg path,
.copy-button:hover svg path,
.anchor-link a:hover svg path {
	stroke-opacity: 1;
	fill-opacity: 1;
}

/* Syntax highlighting */

.hljs-comment {
	color: var(--color-text-code-comment);
}

html {
	overflow: scroll;
	min-height: 100%;
}

html {
	scrollbar-width: thin;
	scrollbar-color: var(--color-bg-secondary) transparent;
}

body {
	/* position: relative; */
	min-height: 100vh;
	/* display: flex; */
}

.main-content {
	ol {
		list-style: none;
		counter-reset: my-awesome-counter;
	}
	ol li {
		counter-increment: my-awesome-counter;
		margin-left: 24px;
	}
	ol li::before {
		content: counter(my-awesome-counter) '. ';
		margin-left: -24px;
		display: inline-block;
		min-width: 24px;
	}

	ul {
		list-style: none;
	}
	ul li {
		margin-left: 24px;
	}
	ul li::before {
		content: '-';
		margin-left: -24px;
		display: inline-block;
		min-width: 24px;
	}
}

/* mark {
	background-color: hsl(var(--color-info-hsl) / 0.2);
	color: var(--color-text);
} */

.main-content a {
	color: var(--color-text);
}

.main-content a:hover {
	text-decoration: underline;
}

.main-content :where(h1, h2, h3, h4) {
	position: relative;
	padding-left: 40px;
	margin-left: -40px;
	scroll-margin-top: 105px;
}

.main-content .anchor-link {
	display: none;
	position: absolute;
	top: 50%;
	margin-top: -16px;
	margin-left: -40px;
	width: 40px;
	height: 32px;
}

.main-content summary :where(h2, h3, h4) {
	padding-left: 64px;
	margin-left: -64px;
}

.main-content summary .anchor-link {
	/* display: none; */
	margin-left: -64px;
	width: 64px;
}
.main-content :where(h2, h3, h4):hover > .anchor-link {
	/* background-color: red; */
	display: inline-block;
}

/* To make anchor links visible on mobile */
@media (max-width: 776px) {
	.main-content :where(h2, h3, h4):not(summary h2, summary h3, summary h4):hover {
		margin-left: 0;
	}
}

.main-content .anchor-link a {
	padding: 4px;
	border-radius: 4px;
	display: inline-flex;
}

.main-content .anchor-link a:hover {
	background-color: var(--color-bg-secondary-hover);
}

.main-content :not(pre) > code {
	white-space: nowrap;
}

.main-content details {
	margin-bottom: 8px;
	/* To fix visual artifact of content appearing below summary */
	padding-bottom: 1px;
}

.main-content summary {
	align-items: center;
	display: flex;
	background-color: hsl(var(--color-bg-hsl) / 1);
	/* border-radius: 4px; */
	padding-block: 8px;
	/* margin-left: -8px; */
	position: sticky;
	top: 56px;
	/* background-color: var(--color-bg); */
	z-index: 1;
	/* @apply backdrop-blur-lg; */
}

.main-content summary > *:hover {
	/* text-decoration: underline; */
}

.main-content summary::before {
	content: '';
	display: inline-block;
	width: 24px;
	height: 24px;
	/* margin-left: -8px; */
	vertical-align: text-top;
	margin-right: 4px;
	margin-left: -4px;
}

.main-content summary:hover {
	/* border-radius: 4px; */
	/* background-color: color-mix(
		in hsl,
		hsl(var(--color-bg-hsl) / 1) 90%,
		hsl(var(--color-text-hsl) / 1) 10%
	); */
	cursor: pointer;
}

.main-content summary > * {
	margin-block: 0;
	/* padding-block: 8px; */
}

.main-content details[open] summary.is-sticky {
	border-bottom: 1px solid var(--color-border);
}

/* .is-sticky code {
	color: var(--color-success);
	background-color: hsl(var(--color-success-hsl) / 0.1);
	border: 1px solid hsl(var(--color-success-hsl) / 0.4);
} */

/* Info banner */

blockquote {
	display: block;
	position: relative;
	gap: 12px;
	padding: 12px 16px;
	padding-left: 48px;
	color: var(--color-text-secondary);
	@apply rounded-md my-6;

	:first-child {
		margin-top: 0;
	}

	:last-child {
		margin-bottom: 0;
	}

	&::before {
		position: absolute;
		left: 12px;
		content: '';
		display: flex;
		width: 24px;
		height: 24px;
		flex-shrink: 0;
	}
}

blockquote.warning {
	border: 1px solid hsl(var(--color-warning-hsl) / 0.3);
	background-color: hsl(var(--color-warning-hsl) / 0.05);

	&::before {
		background-image: url('/icon.warning.svg');
	}
}

blockquote.info {
	border: 1px solid hsl(var(--color-info-hsl) / 0.3);
	background-color: hsl(var(--color-info-hsl) / 0.05);

	&::before {
		background-image: url('/icon.info.svg');

		svg path {
			fill: hsl(var(--color-info-hsl) / 1);
		}
	}
}

@media (prefers-color-scheme: light) {
	.main-content summary::before {
		background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M10 8.06736C10 7.64344 10.4944 7.41186 10.8201 7.68325L15.5391 11.6157C15.7789 11.8156 15.7789 12.184 15.5391 12.3839L10.8201 16.3164C10.4944 16.5878 10 16.3562 10 15.9323V8.06736Z' fill='black' /%3E%3C/svg%3E");
	}
	.main-content [open] summary::before {
		background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M15.9323 10C16.3562 10 16.5878 10.4944 16.3164 10.8201L12.3839 15.5391C12.184 15.7789 11.8156 15.7789 11.6157 15.5391L7.68325 10.8201C7.41186 10.4944 7.64344 10 8.06736 10H15.9323Z' fill='black' /%3E%3C/svg%3E");
	}
}

@media (prefers-color-scheme: dark) {
	.main-content summary::before {
		background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M10 8.06736C10 7.64344 10.4944 7.41186 10.8201 7.68325L15.5391 11.6157C15.7789 11.8156 15.7789 12.184 15.5391 12.3839L10.8201 16.3164C10.4944 16.5878 10 16.3562 10 15.9323V8.06736Z' fill='white' /%3E%3C/svg%3E");
	}
	.main-content [open] summary::before {
		background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M15.9323 10C16.3562 10 16.5878 10.4944 16.3164 10.8201L12.3839 15.5391C12.184 15.7789 11.8156 15.7789 11.6157 15.5391L7.68325 10.8201C7.41186 10.4944 7.64344 10 8.06736 10H15.9323Z' fill='white' /%3E%3C/svg%3E");
	}
}
/* Syntax highlight */

@media (prefers-color-scheme: light) {
	.hljs {
		display: block;
		overflow-x: auto;
		padding: 0.5em;

		color: #24292e;
		background: #ffffff;
	}

	.hljs-comment,
	.hljs-punctuation {
		color: #6a737d;
	}

	.hljs-attr,
	.hljs-attribute,
	.hljs-meta,
	.hljs-selector-attr,
	.hljs-selector-class,
	.hljs-selector-id {
		color: #005cc5;
	}

	.hljs-variable,
	.hljs-literal,
	.hljs-number,
	.hljs-doctag {
		color: #e36209;
	}

	.hljs-params {
		color: #24292e;
	}

	.hljs-function {
		color: #6f42c1;
	}

	.hljs-class,
	.hljs-tag,
	.hljs-title,
	.hljs-built_in {
		color: #22863a;
	}

	.hljs-keyword,
	.hljs-type,
	.hljs-builtin-name,
	.hljs-meta-keyword,
	.hljs-template-tag,
	.hljs-template-variable {
		color: #d73a49;
	}

	.hljs-string,
	.hljs-undefined {
		color: #032f62;
	}

	.hljs-regexp {
		color: #032f62;
	}

	.hljs-symbol {
		color: #005cc5;
	}

	.hljs-bullet {
		color: #e36209;
	}

	.hljs-section {
		color: #005cc5;
		font-weight: bold;
	}

	.hljs-quote,
	.hljs-name,
	.hljs-selector-tag,
	.hljs-selector-pseudo {
		color: #22863a;
	}

	.hljs-emphasis {
		color: #e36209;
		font-style: italic;
	}

	.hljs-strong {
		color: #e36209;
		font-weight: bold;
	}

	.hljs-deletion {
		color: #b31d28;
		background-color: #ffeef0;
	}

	.hljs-addition {
		color: #22863a;
		background-color: #f0fff4;
	}

	.hljs-link {
		color: #032f62;
		font-style: underline;
	}
}

@media (prefers-color-scheme: dark) {
	.hljs {
		display: block;
		overflow-x: auto;
		padding: 0.5em;

		color: #c9d1d9;
		background: #0d1117;
	}

	.hljs-comment,
	.hljs-punctuation {
		color: #8b949e;
	}

	.hljs-attr,
	.hljs-attribute,
	.hljs-meta,
	.hljs-selector-attr,
	.hljs-selector-class,
	.hljs-selector-id {
		color: #79c0ff;
	}

	.hljs-variable,
	.hljs-literal,
	.hljs-number,
	.hljs-doctag {
		color: #ffa657;
	}

	.hljs-params {
		color: #c9d1d9;
	}

	.hljs-function {
		color: #d2a8ff;
	}

	.hljs-class,
	.hljs-tag,
	.hljs-title,
	.hljs-built_in {
		color: #7ee787;
	}

	.hljs-keyword,
	.hljs-type,
	.hljs-builtin-name,
	.hljs-meta-keyword,
	.hljs-template-tag,
	.hljs-template-variable {
		color: #ff7b72;
	}

	.hljs-string,
	.hljs-undefined {
		color: #a5d6ff;
	}

	.hljs-regexp {
		color: #a5d6ff;
	}

	.hljs-symbol {
		color: #79c0ff;
	}

	.hljs-bullet {
		color: #ffa657;
	}

	.hljs-section {
		color: #79c0ff;
		font-weight: bold;
	}

	.hljs-quote,
	.hljs-name,
	.hljs-selector-tag,
	.hljs-selector-pseudo {
		color: #7ee787;
	}

	.hljs-emphasis {
		color: #ffa657;
		font-style: italic;
	}

	.hljs-strong {
		color: #ffa657;
		font-weight: bold;
	}

	.hljs-deletion {
		color: #ffa198;
		background-color: #490202;
	}

	.hljs-addition {
		color: #7ee787;
		background-color: #04260f;
	}

	.hljs-link {
		color: #a5d6ff;
		font-style: underline;
	}
}
